/*金投手*/
.w{
	width:100%;
	height:480px;
	margin:0 auto;
	background:#FC8301;}
.slider{
	width:1000px;
	height:410px;
	margin:0 auto;
	position:relative;
	top:70px;}
.jts{
	position:absolute;
	left:0;
	width:615px;
	height:410px;
	bottom:0;}
.dl{
	width:370px;
	height:370px;
	background:#FFF;
	position:absolute;
	right:0;
	top:-15px;
	border-radius:10px;
	box-shadow:11px 11px 15px #FA6D01;}
.dl_all{
	width:320px;
	height:290px;
	padding:40px 25px;}
.shyi{
	width:320px;
	height:40px;
	margin-top: 20px;}
.shyi h2{
	line-height:40px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:20px;
	color:#FAA700;
	font-weight:900;
    overflow: hidden;}
.shuzi_a{
	width: 320px;
	height: 70px;
	font-size: 50px;
	font-weight:600;
	line-height: 70px;
	text-align:center;
	color: #FDA800;
	margin-top: 10px;
}
.hb{
	width:215px;
	height: 55px;
	line-height: 55px;
	text-align:center;
	background:#FC5D02;
	color: #ffffff;
	font-size: 30px;
	font-weight: 600;
	border-radius:10px;
	margin: 20px auto; 
	overflow: hidden;
}
.ljdl{
	width: 245px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 25px;
	overflow: hidden;
	margin: 0 auto;	
}
/*最新和公告*/
.more_notice{
	width: 100%;
	height: 310px;
	margin: 0 auto;
}
.more_se{
	width: 1000px;
	height: 310px;
	margin: 0 auto;
}
.lab{
	width: 1000px;
	height: 20px;
	overflow: hidden;
}
.lb{
	width:19px;
	height:15px;
	display: inline-block;
	background:url(../images/laba.png) no-repeat;
}
.mr{
	float: right;
	color: #FD5004;
}
.imgs{
	width: 1000px;
	height: 228px;
	margin: 30px auto;
}
.imgs_ul{
	position: relative;
	top: 0;
	left: 0;
}
.imgs_ul li{
	width:247px;
	height: 226px;
	float: left; 
}
.imgs_ul li img{
	margin-left:78px;
	margin-top:25px;}
.intr{
	position:absolute;
	top:160px;
	width:246px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:40px;
	overflow:hidden;}
/*新手专享计划*/
.jh{
	width:100%;
	height:330px;
	margin:0 auto;}
.fx{
	width:1000px;
	height:330px;
	margin:0 auto;
	}
.img{
	width:245px;
	height:330px;
	float:left;
}
.img_a{
	position:relative;
	left:753px;
	width:245px;
	height:330px;
	bottom:337px;}
.wh{
	width:465px;
	height:285px;
	float:left;
	padding:25px 20px;
	/*border:1px solid #CCC;*/
	border-radius:5px;}
.wh_head{
	width:425px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:35px;
	font-weight:600;
	margin:10px auto;}
.shz{
	width:50px;
	height:28px;
	border-radius:1px;
	background:#FB5D02;
	margin-top:20px;
	color:#FFF;
	margin-left:77px;}
#trangle_notice{
	width:0;
	height:0;
	border-bottom:10px solid transparent;
	border-left:10px solid #FB5D02;
	border-right:10px solid transparent;
	margin-left:77px;}
.introduce_notice{
	width:465px;
	height:80px;
	margin:10px auto;
	}
.introduce_notice ul{
	position:relative;
	left:0;
	top:0;}
.introduce_notice ul li{
	width:100px;
	height:80px;
	float:left;
	font-size:35px;
	color:#666666;
}
.introduce_all{
	width:100px;
	height:30px;
	display:inline-block;
	font-size:22px;
	color:#9A9A9A;
	position:absolute;
	top:45px;
	overflow:hidden;
	margin-left:-80px;}
.introduce_tz{
	width:100px;
	height:35px;
	background:#FB5D02;
	position:absolute;
	top:45px;
	font-size:20px;
	color:#FFF;
	line-height:35px;
	text-align:center;
	border-radius:10px;}
.hx{
	width: 465px;
	height: 90px;
	margin:0 auto;
}
.hx_a{
	display: inline-block;
	width: 160px;
	height: 15px;
	background:#FC5D02;
	border-radius: 10px;
}
.hx_r{
	display: inline-block;
	float: right;
	font-size: 22px;
	font-weight: 600;
	color: #FC5D02;
}
.box_a{
	width:100%;
	height: 210px;
	margin: 20px auto;
}
.pic{
	width: 1000px;
	height: 210px;
	margin: 0 auto;
	/*background:#9F0;*/
}
.pic_img{
	width: 685px;
	height: 100px;
	position: relative;;
	top: 85px;
	left: 157px;
}
.pic_head{
	position: absolute;
	top: 10px;
	left: 242px;
	width:200px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	font-size: 45px;
	color: #fff;
	font-weight: 600;
}
.pic_top{
	position: absolute;
	bottom:10px;
	left:190px;
	width: 305px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	color: #fff;
}
.intro{
	position: relative;
    left: 0;
    top: 0;}
.intro .introduce_li{
	width:145px;
	height:90px;
	float: left;
    font-size:35px;
    color: #666666;
	overflow:hidden;
	}
.introduce_li_a{
	display:inline-block;
	font-size:20px;}

.shyu{
	width:465px;
	height:40px;
	margin:15px auto;
	overflow: hidden;
	}
.shuyu_money{
	display:inline-block;
	font-size:20px;
	line-height:40px;
	overflow: hidden;
}
.introduce_ts{
	width: 100px;
    height: 32px;
	float:right;
    background: #FB5D02;
    font-size: 20px;
    color: #FFF;
    line-height: 32px;
    text-align: center;
    border-radius: 10px;
	overflow:hidden;}

/*金投手定期第一块	*/
.tz_more{
	width: 755px;
	height: 330px;
	float: left ;
	/*background:#DADADA;*/
}
.tz_more_li{
	width:242px;
	height: 330px;
	border-radius:5px;
	border:1px solid #999;
	margin-left: 8px;
	float: left;
}
.tz_more_last{
	position: relative !important;
	width:242px;
	height: 330px;
	border:1px solid #999;
	left: 513px;
}
.li_head{
	width: 242px;
	height: 50px;
	font-size: 26px;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
	overflow: hidden;
}
.li_head_a{
	width: 242px;
	height:30px;
	line-height: 30px;
	text-align: center;
	font-size: 26px;
	color: #999999;
}
.shz_more {
    width: 40px;
    height: 20px;
    font-size:10px;
    border-radius: 5px;
    background: #FB5D02;
    color: #FFF;
    margin-left: 74px;}
.li_slider{
	width: 202px;
	height: 50px;
	padding: 0 20px;
}
.li_slider_ul{
	position:relative;
	width: 222px;
	height: 50px;
}
.li_slider_ul li{
	width: 81px;
	height: 50px;
	float: left;
	font-size: 25px; 
}
.nhsy{
	width: 81px;
	height: 20px;
	font-size: 16px;
	color: #A1A1A1;
	overflow: hidden;
	position:absolute;
	bottom:0;
	/*left: 10px;*/	
}
.hx_slider{
	width: 211px;
	height: 20px;
	margin-top:30px; 
	padding: 10px 15px;
}
.hx_slider_b{
	display: inline-block;;
	background-color: #FC5D02;
	border-radius: 10px;
	width: 120px;
	height: 15px;
}
.glv{
	display: inline-block;
	width: 45px;
	height: 20px;
	color:#FC5D02; 
	float: right;
	overflow: hidden;
}
.xm{
	width: 242px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
	color: #A1A1A1;
}
.tz_top{
	width: 150px;
	height:35px;
	line-height: 35px;
	text-align: center;;
	color: #fff;
	background-color: #FC5D02;
	border-radius: 10px;
	margin:20px auto;
}
.tz_box{
	position:absolute;
	right:0;
	top:0;
	width:242px;
	height:332px;
}
/*第二块*/
.li_slider_uls{
	position: relative;
    width: 222px;
    height: 50px;
}
.li_slider_uls li{
	width:70px;
	height:50px;
	float:left;
}
.nhsys{
	width: 70px;
    height: 20px;
    font-size: 16px;
    color: #A1A1A1;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
/*公司动态*/
.content_box{
	width:100%;
	height:400px;
	margin:130px auto;
}
.content{
	width:1000px;
	height:400px;
	margin:0 auto;
}
.content_left{
	width:605px;
	height:400px;
	float:left;
}
.content_left_head{
	width:605px;
	height:50px;
	line-height:50px;
	text-align:center;
	background-color:#ccc;
	font-size:30px;
}
.content_slider{
	width:605px;
	height:300px;
	margin-top:10px;
}
.content_slider ul{
	position:relative;
	height:300px;
	top: 0px;
	left:0;
}
.content_slider ul li{
	width:287px;
	height:300px;
	margin-left:10px;
	float:left;
}
.content_introduce{
	position:absolute;
	bottom:0;
	left: 0;
	width:287px;
	height:55px;
}
.span_more{
	width:280px;
	height:30px;
	font-size:18px;
	margin-left:10px;
	display: inline-block;
	overflow: hidden;
}
.sapn_more1{
    width:280px;
	height:25px;
	font-size:14px;
	margin-left:10px;
	color:#9A9A9A;
	display: inline-block;
	overflow: hidden;
}
.content_introduce1{
	position:absolute;
	bottom:0;
	right:20px;
	width:287px;
	height:55px;
}
.content_slider_more{
	width: 605px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #FD5201;
	font-size: 18px;
}
.content_right{
	width:380px;
	height:400px;
	margin-left:15px;
	position:relative;
	top:0;
	left:605px;
}
.content_right_box{
	width: 380px;
	height: 400px;
	position: absolute;
	top:0;
	left: 0;
}
.content_right_head{
	width: 380px;
	height: 50px;
	margin:0 auto;
	background:#FE5C04;
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
}
.content_right_slider{
	width:380px;
	height: 300px;
	margin-top: 10px;
}
.right_slider_ul li{
	width: 380px;
	height: 60px;
	overflow: hidden;
	margin-top: 25px;
}
.right_slider_ul_img{
	width: 100px;
	height: 60px;
	float: left;
}
.right_slider_introduce{
	display: inline-block;
	width:265px;
	height: 25px;
}
.right_slider_introduce1{
	display: inline-block;
	width:265px;
	height: 28px;
	font-size: 12px;
	color: #999999;
}
/*国资互联网金融*/
.box_a1{
	width: 100%;
    height: 175px;
    margin: 0px auto;
}
.pic_all{
	width: 1000px;
    height: 175px;
    margin: 0 auto;
}
.pic_imgs{
	width: 685px;
    height: 100px;
    position: relative;
    top: 0px;
    left: 157px;}
.pic_header{
	position: absolute;
	top:0;
	left: 0;
    width: 685px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 45px;
    color: #fff;
    font-weight: 600;
}
.internet_box{
	width: 100%;
	height: 200px;
	margin: 0 auto;
}
.internet_all{
	width: 1000px;
	height: 200px;
	margin: 0 auto;
}
.internet_all_u{
	position: relative;;
	top: 0;
	left: 0;
}
.internet_all_u li{
	width: 150px;
	height: 180px;
	float: left;
	padding: 10px 45px;
}
.internet_all_imgs{
	width: 131px;
	height: 131px;
}
.internet_all_introduce{
	width: 131px;
	height: 45px;

	line-height: 45px;
	text-align: center;
	font-size: 30px;
	overflow: hidden;;
}
.road_box{
	width: 1000px;
	height: 110px;
	margin:45px auto;
}
.road{
	width:460px;
	height:110px;
	margin:0 auto;
	background: #FC8D03;
	font-size: 45px;
	color: #fff;
	line-height: 110px;
	text-align: center;
	border-radius: 30px;
}
/*合作伙伴*/
.frd_box{
	width: 100%;
	height: 300px;
	margin:0 auto;
}
.frd{
	width: 1000px;
	height: 300px;
	margin:0 auto;
}
.frd_head{
	width: 1000px;
	height: 45px;
	line-height: 45px;
	margin:0 auto;
	font-size: 45px;
	font-weight: 500;
	text-align: center;
}
.frd_imgs{
	width: 1000px;
	height: 100px;
	margin:40px auto;
}
.frd_imgs ul li{
	float:left;
	width: 165px;
	height: 24px;
	margin-bottom: 30px;
}
.search{
	width: 845px;
	height: 20px;
	text-align: right;
	margin:0 auto;	
}
/*第六章我的账户*/
.ws{
    width: 100%;
    height:520px;
}
.ws_top{
    width: 100%;
    height: 30px;
    margin:0 auto;
    background: #FB8201;
}
.ws_head{
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    color: #fff;
}
.ws_slider{
    width: 100%;
    height: 490px;
    margin:0 auto;
    background: #FFB901; 
}
.slider_st{
    width: 1000px;
    height: 490px;
    margin: 0 auto;
    position: relative;
}
.slider_st_right{
    position:absolute;
    top: 85px;
    right: 0;
    width: 300px;
    height: 210px;
    padding: 45px 15px;
    background:#fff;
    border-radius: 10px;
}
.slider_st_right_head{
    width: 300px;
    height: 25px;
    font-weight: 600;
    font-size:20px; 
    overflow:hidden;   
}
.input_all{
    width: 300px;
    height: 95px;
    margin-top: 15px;
}
.form-control{
    width:296px;
    height: 36px;
    border-radius: 10px;
    border:1px solid red;
    outline: medium;
    margin-bottom: 15px;
}
.checkbox{
    width: 300px;
    height: 20px;
    margin-top: 5px;
}
.check{
    width: 91px;
    height: 20px;
    float: left;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    overflow: hidden;
}
.dx{
    line-height: normal;
}
.intrs{
    float: right;
    font-size: 14px;
    color: #FE5C04;
}
.button{
    width: 300px;
    height: 36px;
    margin-top: 20px;
}
.bton{
    width: 300px;
    height: 36px;
    background: #FE5C04;
    border:medium none;
    outline: medium;
    border-radius: 10px;
}
/*第二章 投资*/
.place{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    background:#E5E5E5;
    }
.place_l{
        width: 1000px;
        height: 30px;
        margin:0 auto;
        line-height: 30px;
        font-size: 15px;
}
.w_a{
    width: 100%;
    height: 2690px;
}
.w_aslider{
    width: 1000px;
    height: 2690px;
    margin:25px auto;
}
.w_aslider_left{
    width: 730px;
    height:2690px;
    float: left;
}
.product{
	width:383px;
	height:55px;
	margin:0 auto;}
.product_head{
	width:730px;
	height:30px;
	margin-top:20px;}
.product_head span{
	margin-left:10px;
	margin-right:10px;
	color:#CCCCCC;}
.product_head a{
	font-weight:600;
	font-size:20px;
	color:#000;}
.product_head a:hover{
	color:#FC5D02;
	border-bottom:2px solid #FC5D02;}	
.product_list{
	width:730px;
	height:260px;
	margin-top:15px;}
.product_list_head{
	width:400px;
	height:30px;
	margin-top:15px;
	float:left;
	font-size:24px;
	font-weight:600;
	overflow:hidden;}
.product_img{
	width:130px;
	height:30px;
	position:relative;
	float:right;}
.photos{
	position:absolute;
	top:0;
	left:0;}
.sz {
    width: 50px;
    height: 26px;
	position:relative;
	top:55px;
    margin-left: 77px;}
.trangl{
	width: 50px;
    height: 19px;
	position:relative;
	top:55px;
    margin-left: 77px;}
.shuz{
	width: 50px;
    height: 26px;
	position:absolute;
	top:0;
	left:0;
	border-radius: 3px;
    background: #FB5D02;
    color: #fff;}
#trangle{
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #FB5D02;
    border-right: 10px solid transparent;
    margin-left: 2px;}
.product_slider{
	width:730px;
	height:80px;
	position:relative;
	top:60px;	}
.hkfs{
	width:700px;
	height:20px;
	position: relative;
	left:15px;
    top: 55px;}
.product_slider_ul{
	width:660px;
	height:80px;
	position:absolute;
	left:35px;}
.product_slider_ul li{
	float:left;
	width:165px;
	height:80px;}
.product_slider_ul li b{
	display:inline-block;
	width:165px;
	height:30px;
	overflow:hidden;
	font-size:22px;
	color:#666666;}
.introduce{
	width:165px;
	height:20px;
	display:inline-block;
	overflow:hidden;
	font-size:16px;
	color:#A0A0A0;}
.tz{
	width:145px;
	height:35px;
	margin:0 auto;
	line-height:35px;
	text-align:center;
	overflow:hidden;
	color:#fff;
	font-size:22px;
	border-radius:10px;
	background:#FC8D03;}
.{
	width:700px;
	height:20px;
	position:relative;
	left:16px;
	top:60px;
	line-height:20px;
	font-size:18px;
	overflow:hidden;
	color:#7D7D7D;}
.product_last{
	width:730px;
	height:50px;
	position:relative;
	top:60px;
	}
.tzjd{
	width:100px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	text-align:center;
	float:left;
	margin-top:10px;}
.hx{
	width:385px;
	height:20px;
	margin-top:10px;
	border-radius:10px;
	float:left;
	background:#EEEEEE;}
.hx_c{
	width:160px;
	height:20px;
	background:#FC5D02;
	border-radius:10px;}
.shuzi{
	width:60px;
	height:20px;
	margin-top:10px;
	line-height:20px;
	text-align:center;
	color:#FC6006;
	float:left;
	font-size:18px;
	font-weight:600;
	}
.list_box{
	width:600px;
	height:26px;
	margin:40px auto;}
.list_box ul li{
	float:left;
	margin-left:9px;
	}
.list_box ul li a{
	width:27px;
	height:26px;
	display:inline-block;
	line-height:26px;
	text-align:center;
	color:#000;
	}
.list_box ul li a:hover{
	background:#FC5D02;
	color:#fff;}
.slider_right{
    width:260px;
    height:1320px;
	float:right;
}
.phangbang{
    width: 260px;
    height:295px;
    border:1px solid #ccc;
}
.phangbang_head{
    width: 260px;
    height:35px;
    line-height: 35px;
    text-align: center;
    font-size: 25px;
    font-weight:600;
    color: #FC5D02;
}
.phangbang_slider{
    width: 260px;
    height: 260px;
}
.slider_list{
    width: 260px;
    height: 40px;
}
.slider_list ul li{
    float: left;
    width:70px;
    height: 40px;
}
.name{
    width: 70px;
    height: 40px;
    font-size: 20px;
    overflow: hidden;
}
.slider_list_all{
    width: 250px;
    height:25px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.number{
    width: 25px;
    height: 25px;
    float: left;
    line-height: 25px;
    text-align: center;
    background: #FC5D02;
    font-size: 18px;
    color: #fff;
}
.name_all{
    width: 100px;
    height: 25px;
    float: left;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    overflow: hidden;
}
.price{
    width: 120px;
    height: 25px;
    float: left;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    color: #FC5D02;
    overflow: hidden;
}
.zhushi{
    width: 260px;
    height: 20px;
    margin-top: 20px;
    font-size: 10px;
    overflow: hidden;
}
.ph{
    width: 260px;
    height: 340px;
    margin-top: 20px;
}
.more{
    width: 245px;
    height: 280px;
    padding-left: 15px;
    margin-top:20px;
    border:1px solid #ccc;
}
.more_head{
    width: 260px;
    height: 40px;
    line-height: 40px; 
    font-size: 20px;
}
.more_head span{
    display: inline-block;
    width: 80px;
    height: 50px;
    font-size: 16px;
    color: #FC5D02;
    float: right;
}
.most_list{
    width: 260px;
    height: 30px;
    margin-top: 3px;
    line-height: 30px;
    overflow: hidden;

}
/*第四章 投资保障*/
.t_slide{
	width: 100%;
	height: 410px;
	background:url(../images/img_30.jpg) no-repeat center;
}
.t_slide_img{
	width: 1000px;
	height: 645px;
	margin:70px auto;
}
.introduce_more{
	width: 100%;
	height: 720px;
	background: #B4DBA7;
}
.introduce_box{
	width: 1000px;
	height: 720px;
	margin:0 auto;	
}
.into_head{
	width: 1000px;
	height: 50px;
	margin:20px auto;
	font-size: 30px;
	line-height: 50px;
	text-align: center;;
	font-weight: 600;
}
.articls{
	width: 1000px;
	height:440px;
	margin:0 auto; 
}
.articl_all{
	width:320px;
	height: 440px;
	float: left; 
}
.articl_all_head{
	width: 320px;
	height: 40px;
}
.articl_all_head b{
	background:url(../images/img_35.png) no-repeat center;
	display:block;
	width: 34px;
	height: 38px;
	float: left;
}
.chin{
	width: 280px;
	height: 40px;
	float: left;
	line-height: 40px;
	font-size: 20px;
	font-weight: 600;
}
.arts{
	width:320px;
	height:390px;
	margin-top:10px;
	font-size: 15px;
	overflow: hidden;
}
.model_box{
	width: 1000px;
	height: 420px;
	margin:0 auto;
}
.model_ul{
	width: 1000px;
	height: 420px;
	margin-top: 40px;
}
.model_ul li{
	width:220px;
	height: 420px;
	padding: 0px 50px;
	float: left;
	margin-right:12px;
}
.model_imgs{
	width: 140px;
	height:140px; 
}
.model_introduce{
	width: 220px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 45px;
	font-weight: 600;
}
.model_list{
	width: 220px;
	height: 140px;
	margin-top: 10px;
	overflow: hidden;
}
.introduce_boxa{
	width: 100%;
	height: 360px;
	background: #E8BFCD;
}
.xm_true{
	width: 1000px;
	height: 360px;
	margin: 0 auto;
} 
.all_xm{
	width: 1000px;
	height: 20px;
	margin:40px auto;
	line-height: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	overflow: hidden;
}
.www{
	width: 1000px;
	height: 50x;
	line-height: 50px;
	text-align: center;
	margin:0 auto;
	font-size: 36px;
	font-weight: 600;
	color: #fff;
	overflow: hidden;
}
.nature{
	width: 1000px;
	height: 400px;
	margin:20px auto;
}
.nature ul{
	width: 700px;
	height:400px;
	float: left;
}
.nature ul li{
	width: 700px;
	height: 120px;
	margin-top:10px;
}
.naturel{
	width: 700px;
	height: 80px;
	font-size: 45px;
	font-weight: 600;
	line-height: 80px;
	color: #004FA0;
	overflow: hidden;
}
.naturel b {
    background: url(../images/img_35.png) no-repeat center;
    display: block;
    width: 34px;
    height: 80px;
    float: left;}
.naturels{
	width: 560px;
	height: 40px;
    font-size:22px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}
.hj{
	width: 235px;
	height: 340px;
	float: left;
	padding: 30px 30px;
}
.model_introduce1{
	width: 220px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-weight: 600;
}
.model_lists{
    width: 220px;
    height: 150px;
    color:#999;
    overflow: hidden;
}
.hongbox{
	width: 1000px;
	height: 535px;
	margin: 0 auto;
}
.hbx{
	position: relative;
	left: 0;
	top: 140px;
	width: 1000px;
	height: 60px;
	font-size: 35px;
	font-weight: 600;
	line-height: 60px;
	text-align:center;

}
.hbx b{
	color: #FA5A02;
	font-size:35PX;
}
.zhuces{
	width: 650px;
	height: 155px;
	border-radius:35px;
	line-height: 155px;
	text-align:center;
	font-size: 100px;
	font-weight: 600;
	color: #fff;
	position: relative;
	top: 200px;
	margin:0 auto;
	background: #F57007;
}
/*侧边栏*/
#sidebar{
	width:50px;
	height:230px;
	position:absolute;
	top:0;
	right:0;
	z-index:999;
	background:#CCC;}
#sidebar ul li{
	width:50px;
	height:50px;
	margin-top:20px;
	background:#999;}
#sidebar ul li:hover{
	background:red;}
.menu{
	width:100px;
	height:50px;
	position:absolute;
	right:50px;
	top:20px;
	background:red;
	display:none;}